<TOOLCONFIG>
  <MAINFORM>
    <UseSingleInstance>False</UseSingleInstance>
    <UseDirectXTexDecoder>True</UseDirectXTexDecoder>
    <AlwaysCompressOnSave>False</AlwaysCompressOnSave>
    <DisplayViewport>True</DisplayViewport>
    <UseOpenGL>True</UseOpenGL>
    <DumpShadersDEBUG>False</DumpShadersDEBUG>
    <UseDebugDomainExceptionHandler>False</UseDebugDomainExceptionHandler>
    <OpenStartupWindow>False</OpenStartupWindow>
    <EnableVersionCheck>True</EnableVersionCheck>
    <FormTheme>Dark</FormTheme>
    <MaximizeMdiWindow>False</MaximizeMdiWindow>
  </MAINFORM>
  <ImageEditor>
    <DisplayVertical>False</DisplayVertical>
    <ShowPropertiesPanel>True</ShowPropertiesPanel>
    <DisplayAlpha>True</DisplayAlpha>
    <UseComponetSelector>True</UseComponetSelector>
    <EnablePixelGrid>False</EnablePixelGrid>
    <EnableImageZoom>False</EnableImageZoom>
    <PreviewGammaFix>False</PreviewGammaFix>
  </ImageEditor>
  <CustomPicureBoxBGColor>DarkCyan</CustomPicureBoxBGColor>
  <OBJLISTSETTINGS>
    <EditorDiplayIndex>1</EditorDiplayIndex>
    <thumbnailSize>Small</thumbnailSize>
    <ListPanelWidth>0</ListPanelWidth>
    <AddFilesToActiveObjectEditor>False</AddFilesToActiveObjectEditor>
    <OpenModelsOnOpen>False</OpenModelsOnOpen>
  </OBJLISTSETTINGS>
  <RENDERSETTINGS>
    <ViewportCameraMode>Perspective</ViewportCameraMode>
    <viewportShading>Default</viewportShading>
    <stereoscopy>False</stereoscopy>
    <CameraFar>100000</CameraFar>
    <CameraNear>0.1</CameraNear>
    <PreviewScale>1</PreviewScale>
    <renderVertColor>True</renderVertColor>
    <renderReflection>True</renderReflection>
    <renderSpecular>True</renderSpecular>
    <renderBones>True</renderBones>
    <renderBoundingBoxes>False</renderBoundingBoxes>
    <useNormalMap>False</useNormalMap>
    <ViewportWidth>638</ViewportWidth>
    <normalsLineLength>1</normalsLineLength>
    <bonePointSize>0.07</bonePointSize>
    <MaxCameraSpeed>0.1</MaxCameraSpeed>
    <FrameCamera>False</FrameCamera>
    <cameraMovement>Inspect</cameraMovement>
  </RENDERSETTINGS>
  <COMPRESSIONSETTINGS>
    <Yaz0CompressionLevel>3</Yaz0CompressionLevel>
  </COMPRESSIONSETTINGS>
  <EDITORSETTINGS>
    <PreferredTexFormat>BC1_UNORM_SRGB</PreferredTexFormat>
  </EDITORSETTINGS>
  <renderBackGround>True</renderBackGround>
  <backgroundGradientTop>#1A1A1A</backgroundGradientTop>
  <backgroundGradientBottom>#4D4D4D</backgroundGradientBottom>
  <GridColor>#5A5A5A</GridColor>
  <CellAmount>10</CellAmount>
  <CellSize>1</CellSize>
  <PBR>
    <UseSkybox>False</UseSkybox>
    <EnablePBR>False</EnablePBR>
    <UseDiffuseSkyTexture>True</UseDiffuseSkyTexture>
  </PBR>
  <ResourceTables>
    <BotwTable>False</BotwTable>
    <TpTable>False</TpTable>
  </ResourceTables>
  <DEVELOPER_SETTINGS_DONT_TOUCH>
    <DEVELOPER_DEBUG_MODE>False</DEVELOPER_DEBUG_MODE>
  </DEVELOPER_SETTINGS_DONT_TOUCH>
  <LAYOUT_EDITOR>
    <LayoutShadingMode>Default</LayoutShadingMode>
    <LayoutBackgroundColor>#828282</LayoutBackgroundColor>
    <IsGamePreview>False</IsGamePreview>
    <LayoutDisplayGrid>True</LayoutDisplayGrid>
    <DisplayNullPane>True</DisplayNullPane>
    <DisplayBoundryPane>True</DisplayBoundryPane>
    <DisplayPicturePane>True</DisplayPicturePane>
    <DisplayWindowPane>True</DisplayWindowPane>
    <DisplayTextPane>True</DisplayTextPane>
    <PartsAsNullPanes>False</PartsAsNullPanes>
    <TransformPaneChidlren>False</TransformPaneChidlren>
  </LAYOUT_EDITOR>
  <ByamlEditor>
    <BymlTextFormat>YAML</BymlTextFormat>
  </ByamlEditor>
</TOOLCONFIG>